<header>
    <h1 class="title">メモアプリ</h1>
</header>
<main>
    <form action="<%= @id %>">
        <div class="memo_title">
            <input type="text" name="title" id="title" value="<%= @title %>">
        </div>
        <div class="memo_text">
            <textarea name="text" id="text" cols="30" rows="10"><%= @text %></textarea>
        </div>
        <input id="hidden" type="hidden" name="_method" value="patch">
        <input type="submit" value="変更" id="save">
    </form>
</main>
